html {
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 400px;
    margin: auto;
}

.calculator-screen {
    text-align: right;
    font-size: 2rem;
    background-color: black;
    padding: 1.25rem 0.5rem;
    color: white;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "clear clear backspace divide"
        "seven eight nine times"
        "four five six minus"
        "one two three plus"
        "zero zero zero equals";
    gap: 0.1rem;
    background-color: black;
}

.calculator-buttons button {
    height: 6rem;
    font-size: 2rem;
    border-radius: 0%;
    border: none;
}

/* Equation Btn Styles */
.calculator-buttons__equations-style {
    background: #df974c;
    color: white;
    font-weight: bold;
}

.calculator-buttons__equations-style:hover {
    background-color: #c98944;
}

.calculator-buttons__equations-style:active {
    background-color: #ac763c;
}

/*Button Positions*/
.calculator-buttons__btn-times {
    grid-area: times;
}
.calculator-buttons__btn-divide {
    grid-area: divide;
}
.calculator-buttons__btn-minus {
    grid-area: minus;
}
.calculator-buttons__btn-plus {
    grid-area: plus;
}
.calculator-buttons__btn-equals {
    grid-area: equals;
}
.calculator-buttons__btn-clear {
    grid-area: clear;
}
.calculator-buttons__btn-backspace {
    grid-area: backspace;
}
.calculator-buttons__btn-nine {
    grid-area: nine;
}
.calculator-buttons__btn-eight {
    grid-area: eight;
}
.calculator-buttons__btn-seven {
    grid-area: seven;
}
.calculator-buttons__btn-six {
    grid-area: six;
}
.calculator-buttons__btn-five {
    grid-area: five;
}
.calculator-buttons__btn-four {
    grid-area: four;
}
.calculator-buttons__btn-three {
    grid-area: three;
}
.calculator-buttons__btn-two {
    grid-area: two;
}
.calculator-buttons__btn-one {
    grid-area: one;
}
.calculator-buttons__btn-zero {
    grid-area: zero;
}
